body,
html {
  font-family: "Libre Franklin" !important;
  font-weight: normal !important;
  font-style: normal !important;
}

h1 {
  font-family: "Rasa" !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

h2,
h3,
h4 {
  font-family: "Tienne" !important;
  font-weight: 500 !important;
  font-style: oblique !important;
}

@media (max-width: 768px) {
  .nav_mobile_open,
  .nav_mobile_close {
    height: 100vh;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 999;
    position: fixed;
  }

  .nav_mobile_open {
    opacity: 1;
    background-color: rgba(1, 5, 34, 0.9);
    transition: all 500ms;
  }

  .nav_mobile_close {
    opacity: 0;
    transform: translateX(-999px);
    transition: all 500ms;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 50px;
  height: 5px;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 13, 46, 0.2);
}

.swiper-pagination-bullet-active {
  color: #e4f6f3;
  background: #004e67;
}

::-webkit-scrollbar {
  display: none;
}
